.bread-crumbs {
  font-size: 14px;
  color: #666;
  line-height: 30px;
  margin-bottom: 29px;
  margin-top: 17px; }

.product_container {
  width: 100%;
  table-layout: fixed; }
  .product_container .product-side {
    float: left; }
    .product_container .product-side .product-album-preview {
      border: none;
      position: relative; }
      .product_container .product-side .product-album-preview .product-album-pic {
        width: 500px;
        height: 500px; }
        .product_container .product-side .product-album-preview .product-album-pic a {
          display: block;
          line-height: 500px;
          text-align: center; }
          .product_container .product-side .product-album-preview .product-album-pic a img {
            width: 500px;
            height: 500px; }
    .product_container .product-side .product-album-thumb {
      margin-top: 10px;
      width: 100%;
      position: relative;
      clear: left; }
      .product_container .product-side .product-album-thumb .over {
        background: red; }
        .product_container .product-side .product-album-thumb .over a {
          color: #ccc;
          cursor: default;
          font-size: 18px;
          margin-left: -1px; }
      .product_container .product-side .product-album-thumb .flip {
        width: 50px;
        height: 100px;
        line-height: 100px;
        margin-top: 0;
        text-align: center;
        position: absolute;
        top: 0; }
      .product_container .product-side .product-album-thumb .prev {
        left: 0; }
      .product_container .product-side .product-album-thumb .next {
        right: 0;
        background: blue; }
      .product_container .product-side .product-album-thumb .thumbnail-list {
        margin: 0 50px;
        height: 91px;
        padding-top: 5px;
        overflow: hidden; }
        .product_container .product-side .product-album-thumb .thumbnail-list li {
          padding: 0;
          margin: 0 4px;
          float: left; }
          .product_container .product-side .product-album-thumb .thumbnail-list li .thumbnail {
            margin-top: 0;
            width: 88px;
            height: 88px;
            border: none;
            padding: 0 2px 2px; }
            .product_container .product-side .product-album-thumb .thumbnail-list li .thumbnail img {
              float: left;
              max-width: 88px;
              max-height: 88px; }
    .product_container .product-side .share-recommend {
      text-align: right;
      font-size: 14px;
      color: #262626;
      clear: both;
      margin-top: 15px; }
      .product_container .product-side .share-recommend .pop-wrapper {
        display: inline-block;
        position: relative;
        z-index: 12;
        vertical-align: middle; }
        .product_container .product-side .share-recommend .pop-wrapper .btn {
          width: 100px;
          line-height: 24px;
          color: #262626;
          height: 24px;
          border: 0 none;
          background-color: transparent;
          padding: 0;
          font-size: 100%; }
          .product_container .product-side .share-recommend .pop-wrapper .btn i {
            font-style: normal;
            font-family: iconfonts,sans-serif;
            margin-right: 4px; }
