@charset "utf-8";
html,body,img,ul,ol,li,dl,dt,dd,form,fieldset,legend,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
i,em,strong,b{
	font-style:normal;
	font-weight:normal;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img,fieldset{
	border:0;
}
img{
	display:block;
}
.clear:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility: hidden;
}